:root {
    --bgc: rgb(233, 212, 145);
    --txc: rgb(34, 18, 44);
    --gap: 10px;
  }

  .h1.style-text {
    font-family:'Courier New', Courier, monospace;
    font-size: 30pt;
    text-align: center;
  }

  body {
    background-color: var(--bgc);
    color: var(--txc);
  }

  .maring {
    margin: auto;
  }

  .gap {
    gap: var(--gap);
  }
  
  .grid {
    display: grid;
  }

  .grid > .grid-span-2 {
    grid-column-end: span 2;
  }

  .grid.main-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.select-area-head-grid {
    grid-template-columns: repeat(5, 1fr);
    
  }      
  .grid.select-area-grid {
    grid-template-columns: repeat(3, 1fr);        
    grid-auto-rows: 75px;
  }
  .grid.select-area-color-grid {
    grid-template-columns: repeat(4, 1fr);        
    grid-auto-rows: 50px;
  }
  .select-area-article {
    background-color:rgb(233, 136, 72);
    border-radius: 5px;
  }


  