:root {
    --bgc: rgb(233, 212, 145);
    --txc: rgb(34, 18, 44);
    --gap: 10px;
  }

  .h1.style-text {
    font-family:'Courier New', Courier, monospace;
    font-size: 30pt;
    text-align: center;
  }

  body {
    background-color: var(--bgc);
    color: var(--txc);
  }

  .maring {
    margin: 10px;
  }

  .gap {
    gap: var(--gap);
  }
  
  .grid {
    display: grid;
  }